:root {
    --LightTheme-primary-color: aliceblue;
    --LightTheme-secondary-color: rgb(216, 227, 236);
    --LightTheme-primary-text-color: rgb(19, 18, 18);


    --DarkTheme-primary-color: rgb(46, 46, 46);
    --DarkTheme-secondary-color: rgb(32, 32, 32);
    --DarkTheme-primary-text-color: rgb(228, 222, 222);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;

    font-family: 'VT323', monospace;
}

/* HEADER */
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--LightTheme-secondary-color);
    color: var(--LightTheme-primary-text-color);
    padding: 1rem 1rem;
}

.header>h1 {
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
}

.changeTheme {
    margin-left: auto;
    flex: 0 1 auto;
    transform: scale(2);
    transition: all 100ms ease;
}

.changeTheme:hover {
    cursor: pointer;
    transform: scale(2.4);
}

/* GAMESCREEN */
.gamescreen {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--LightTheme-primary-color);
    flex: 1 1 auto;
    gap: 5%;
}

/* panels */
.left-panel,
.right-panel {
    /* flex: 1 1 auto; */
    height: 100%;
}

/* left panel */
.left-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.rangeInputContainer>p {
    text-align: center;
    user-select: none;
    font-size: 2rem;
}

label[for=tileSize] {
    user-select: none;
}

.clearBtn {
    user-select: none;
    padding: 0.2rem 1rem;
}

/* right panel */
.right-panel {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    border: 1px solid;
}

/* GRID */
.gridtile {
    /* border: 1px solid; */
    margin: 0;
    box-sizing: border-box;
    user-select: none;

}



/* FOOTER */
.footer {
    /* margin-top: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--LightTheme-secondary-color);
    color: var(--LightTheme-primary-text-color);
    gap: 5px;
    font-size: 20px;
}









/* UTILS */
.btn {
    background-color: inherit;
    padding: 3px 20px;
}

.fa-github {
    transition: transform 500ms ease;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.3);
}